In [74]:
import pandas as pd
import altair as alt
import numpy as np

In [79]:
data = pd.read_csv("Geolocated Data - Sales & Prospect - 5.11.2023.csv")
raw = pd.read_csv("Raw data (pre-geocoding).csv")
geo = pd.read_csv("Geocoded Addresses.csv")

data.head()

df = data.drop(['FullAddress', 'StreetName', 'JobStatus', 'SalesRepName1', 'SalesRepName2', 'Accuracy.Score', 'Accuracy.Type'], axis = 1)

df = df.astype({'productid':'string'})



for c in df.columns:
    print(c, df[c].isnull().sum())

C:\Users\Ian\AppData\Local\Temp\ipykernel_14364\1446196732.py:1: DtypeWarning: Columns (3,9,10,11,12,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Geolocated Data - Sales & Prospect - 5.11.2023.csv")
C:\Users\Ian\AppData\Local\Temp\ipykernel_14364\1446196732.py:2: DtypeWarning: Columns (3,9,10,11,12,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv("Raw data (pre-geocoding).csv")

id 0
productid 2610
GrossAmount 46247
ContractDate 46247
City 671
State 909
Zip 576
Source 46247
SubSource 53
DateAdded 7857
Issued 7854
Sat 7854
Latitude 0
Longitude 0

In [80]:
print(df.info())
df.head()
#df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54101 entries, 0 to 54100
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54101 non-null  int64
 1   productid     51491 non-null  string
 2   GrossAmount   7854 non-null   float64
 3   ContractDate  7854 non-null   object
 4   City          53430 non-null  object
 5   State         53192 non-null  object
 6   Zip           53525 non-null  object
 7   Source        7854 non-null   object
 8   SubSource     54048 non-null  object
 9   DateAdded     46244 non-null  object
 10  Issued        46247 non-null  object
 11  Sat           46247 non-null  object
 12  Latitude      54101 non-null  float64
 13  Longitude     54101 non-null  float64
dtypes: float64(3), int64(1), object(9), string(1)
memory usage: 5.8+ MB
None

,id,productid,GrossAmount,ContractDate,City,State,Zip,Source,SubSource,DateAdded,Issued,Sat,Latitude,Longitude
0,17269,Bath,10144.0,5/10/2023,Albuquerque,NM,87123,Print,Valpak,NaN,NaN,NaN,35.057871,-106.495715
1,17268,Bath,8738.0,5/8/2023,Albuquerque,NM,87122,Internet,Google,NaN,NaN,NaN,35.192038,-106.540850
2,17267,Bath,10379.0,5/5/2023,Albuquerque,NM,87109,Print,Mailer - Bath,NaN,NaN,NaN,35.158152,-106.570980
3,17265,Bath,9328.0,5/4/2023,Albuquerque,NM,87114,Internet,Google,NaN,NaN,NaN,35.213290,-106.668686
4,17263,Bath,10764.0,5/1/2023,Albuquerque,NM,87112,Spectrum,FM - PPC Quote,NaN,NaN,NaN,35.104817,-106.540097

In [77]:
print(raw.info())
raw.head()
#df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54101 entries, 0 to 54100
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             54101 non-null  int64
 1   productid      51491 non-null  object
 2   GrossAmount    7854 non-null   float64
 3   ContractDate   7854 non-null   object
 4   FullAddress    54101 non-null  object
 5   StreetName     52566 non-null  object
 6   City           53430 non-null  object
 7   State          53192 non-null  object
 8   Zip            53525 non-null  object
 9   JobStatus      7745 non-null   object
 10  SalesRepName1  7661 non-null   object
 11  SalesRepName2  340 non-null    object
 12  Source         7854 non-null   object
 13  SubSource      54048 non-null  object
 14  DateAdded      46244 non-null  object
 15  Issued         46247 non-null  object
 16  Sat            46247 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 7.0+ MB
None

,id,productid,GrossAmount,ContractDate,FullAddress,StreetName,City,State,Zip,JobStatus,SalesRepName1,SalesRepName2,Source,SubSource,DateAdded,Issued,Sat
0,17269,Bath,10144.0,5/10/2023,"637 Executive Hills Ln SE , Albuquerque , NM...",637 Executive Hills Ln SE,Albuquerque,NM,87123,New,"Gamaleri, Al",NaN,Print,Valpak,NaN,NaN,NaN
1,17268,Bath,8738.0,5/8/2023,"9152 Night Sky Ln NE , Albuquerque , NM 87122",9152 Night Sky Ln NE,Albuquerque,NM,87122,New,"Gamaleri, Al",NaN,Internet,Google,NaN,NaN,NaN
2,17267,Bath,10379.0,5/5/2023,"6905 Vivan Dr NE , Albuquerque , NM 87109",6905 Vivan Dr NE,Albuquerque,NM,87109,New,"Gamaleri, Al",NaN,Print,Mailer - Bath,NaN,NaN,NaN
3,17265,Bath,9328.0,5/4/2023,"4119 Montera Pl Pl NE , Albuquerque , NM 87114",4119 Montera Pl Pl NE,Albuquerque,NM,87114,New,"Gamaleri, Al",NaN,Internet,Google,NaN,NaN,NaN
4,17263,Bath,10764.0,5/1/2023,"9316 Snow Heights Blvd NE , Albuquerque , NM...",9316 Snow Heights Blvd NE,Albuquerque,NM,87112,Awaiting Delivery,"Gamaleri, Al",NaN,Spectrum,FM - PPC Quote,NaN,NaN,NaN

In [78]:
print(geo.info())
geo.head()
#df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54101 entries, 0 to 54100
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              54101 non-null  int64
 1   Full Address    52566 non-null  object
 2   City            53430 non-null  object
 3   State           53192 non-null  object
 4   Zip             53525 non-null  object
 5   Latitude        54101 non-null  float64
 6   Longitude       54101 non-null  float64
 7   Accuracy Score  54101 non-null  float64
 8   Accuracy Type   53994 non-null  object
 9   Number          47400 non-null  object
 10  Street          48494 non-null  object
 11  Unit Type       23 non-null     object
 12  Unit Number     25 non-null     object
 13  City.1          53993 non-null  object
 14  State.1         53994 non-null  object
 15  County          53991 non-null  object
 16  Zip.1           53993 non-null  float64
 17  Country         53994 non-null  object
 18  Source          53994 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 7.8+ MB
None

,id,Full Address,City,State,Zip,Latitude,Longitude,Accuracy Score,Accuracy Type,Number,Street,Unit Type,Unit Number,City.1,State.1,County,Zip.1,Country,Source
0,17269,637 Executive Hills Ln SE,Albuquerque,NM,87123,35.057871,-106.495715,1.0,rooftop,637,Executive Hills Ln SE,NaN,NaN,Albuquerque,NM,Bernalillo County,87123.0,US,Albuquerque
1,17268,9152 Night Sky Ln NE,Albuquerque,NM,87122,35.192038,-106.540850,1.0,rooftop,9152,Night Sky Ln NE,NaN,NaN,Albuquerque,NM,Bernalillo County,87122.0,US,Albuquerque
2,17267,6905 Vivan Dr NE,Albuquerque,NM,87109,35.158152,-106.570980,1.0,rooftop,6905,Vivian Dr NE,NaN,NaN,Albuquerque,NM,Bernalillo County,87109.0,US,Albuquerque
3,17265,4119 Montera Pl Pl NE,Albuquerque,NM,87114,35.213290,-106.668686,0.9,rooftop,4119,Montera Pl NW,NaN,NaN,Albuquerque,NM,Bernalillo County,87114.0,US,Albuquerque
4,17263,9316 Snow Heights Blvd NE,Albuquerque,NM,87112,35.104817,-106.540097,1.0,rooftop,9316,Snow Heights Blvd NE,NaN,NaN,Albuquerque,NM,Bernalillo County,87112.0,US,Albuquerque